@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
header {
  background-color: #263d36;
  background-image: url("images/headerImgCropped.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 2vw 0.3em;
  text-align: center;
}

header h1 {
  /*color: white;*/
  font-weight: bold;
  font-size: 2.5em;
  font-weight: 300;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background:  #e81c4f;
  color: white;
}

body {
  margin: 0 auto;
  max-width: 50em;
  /*font-family: "Helvetica", "Arial", sans-serif;*/
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  line-height: 1.5;
  padding: 0em 1em;
  /*color: #555;*/
  color: #566b78;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,h2,strong {
  color: #333;
}

q {
  font-style: italic;
  font-weight: bold;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

figure {
  text-align: center;
}

img {
  display:block;
  margin: 3em auto 0.3em;
}



#timeline1{
  display:block;
  margin: 0 auto;
}

/*code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}*/

a {
  color: #e81c4f;
}
/*ribbon*/
.cr {
  width: 200px;
  padding: 16px;
  position: absolute;
  text-align: center;
  color: #f0f0f0;
}

/*.cr-sticky {
  position:static;
}*/

/* Positions */

.cr-top    { top: 25px; }
.cr-left   { left: -65px; }

.cr-top.cr-left,
.cr-bottom.cr-right {
  transform: rotate(-45deg);
}

.cr-top.cr-right,
.cr-bottom.cr-left {
  transform: rotate(45deg);
}

.cr-green     { background-color: rgb(12, 97, 1); }
